<%= form_with model: [@collection, @card] do |f| %>
  <% if @card.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h6 class="alert-heading"><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h6>
      <ul class="mb-0">
        <% @card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :collection_id, value: @collection.id %>

  <div class="row g-3">
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :source_language_id, "From", class: "form-label" %>
        <%= f.collection_select :source_language_id, Language.all, :id, :name,
                                { prompt: "Select language", selected: current_user.native_language&.id },
                                { class: "form-select" } %>
      </div>
      <div class="mb-3">
        <%= f.label :front_text, "Front", class: "form-label" %>
        <%= f.text_area :front_text, rows: 3, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :target_language_id, "To", class: "form-label" %>
        <%= f.collection_select :target_language_id, Language.all, :id, :name,
                                { prompt: "Select language", selected: current_user.preferred_language&.id },
                                { class: "form-select" } %>
      </div>
      <div class="mb-3">
        <%= f.label :back_text, "Back (Translation)", class: "form-label" %>
        <%= f.text_area :back_text, rows: 3, class: "form-control" %>
      </div>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
